:root {
  --primary-background-color: #282c34;
  --link-color: #61dafb;
}

.App-header {
  background-color: var(--primary-background-color);
  color: white;
}

.App-link {
  color: var(--link-color);
}
